*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-image: url('../images/jennifer-bonauer-Z8dtTatMVMw-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h2{
    font-size: 34px;
    font-family: 'Oswald', sans-serif;
    color: #164A41;
    
    position: relative;
    left: 5%;
    margin-top: 35px;
    text-align: left;
    z-index: -100;
}
h3{
    color:#F1B24A;
    font-family: 'Oswald', sans-serif;    
    font-weight: 500;
    font-size: 21px;
    position: relative;
    left: 5%;
    margin-top: 35px;
    text-align: left;
    z-index: -100;
}


.map-container{
  width: 70%;
  height:100vh;
  position: relative;
  margin: 0 auto;
  top: 10%;
  background: white;
  opacity: 0.8;
  overflow: hidden;

}
/*!map svg */

.right-container{
  width: 45%;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 15%;
  top:-8%;
}


#path6809:hover{
 height: 20%;
  fill:white!important;
  display: flex;
  flex-direction: column;
}

path:hover {
  transition: fill 0.5s ease-in-out;
  fill: #4e4e4e!important;
}



.map-left-container{
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10vh;
  position: relative;

  
}

/* tooltip bubble */

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Dropdown Button */
.dropbtn {
    background-color: #ffffff;
    color: #515151;
    padding: 16px 20px;
    margin: 8px;
    font-size: 13px;
    border-bottom: 2px solid #F1B24A;
    border-top: none;
    border-right: none;
    border-left: none;
    vertical-align: middle;
    text-align: left;
    width: 233px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    display: none;
    position: absolute;
    top: 10%;
    left: 100%;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Roboto', sans-serif;
  }
  
  .arrow{
    border: solid rgb(82, 82, 82);
    border-width: 0 2px 2px 0;
    padding: 5px;
    position: absolute;
    right: 3%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 3;
}


  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #F1B24A;color:#ffffff;}
  .dropdown:hover .arrow {opacity:0}

  /* Responsive */
  @media screen and (max-width: 780px){
    .left-container{
      width: 100%;
    }
  }