/* Hamburger */

.hamburger{
    position: relative;
    cursor: pointer;
    top: 0;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    transition: all .5s ease-in-out;
    border: 2px solid black;
    z-index: 10;
}

.hamburger-box{
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px #818181;
    transition: all .5s ease-in-out;
}

.hamburger-box::before, 
.hamburger-box::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px #818181;
    transition: all .5s ease-in-out;
}
/* repeat line up and down to create hamburger */
.hamburger-box::before{
    transform: translateY(-16px);
}
.hamburger-box::after{
    transform: translateY(16px);
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
 /*  Style page content - use this if you want to push the page content to the right when you open the side navigation */
  .main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  } 
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }