*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
/* Logo & session */

.welcomeuser{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  position: relative; 
  color: #164A41;

}

#logo{
  height: 89px; 
  width: 89px;
  position: relative;
  float: left;
  top: -10px;
}


/* logout button */
#logout{
  color:#164A41;
  text-decoration: none;
  font-size: 18px;
  font-family:'Roboto', sans-serif;
  background: transparent;
  border: transparent;
  cursor: pointer;
  font-weight: 700;
}

#logout:hover, #logout:focus{
  border: transparent;
  outline: none;
}


/* Navbar */
nav{
  position: absolute;
  
}

.nav-container{
  background: transparent; 
  position: fixed;
  width: 100%;
  z-index: 800;
}


.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto; /* automatiquement envoit la div à droite... */
}

.nav-links li a{
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  font-family:'Roboto', sans-serif;
}

i[id='active']{
  color: #164A41;
}

i[class^="fa"]{
  padding-right: 0.8em;
}

.fa-home, .fa-map, .fa-plane,
.fa-envelope{
  color: #ffffff;
}

.fa-sign-out-alt{
  color: #164A41;
}

/* hamburger animation cross */

  .menu-btn{
    cursor: pointer;
    display: inline-block;
    position: fixed;
    right: 0%;
    top: 0%;
    width: 80px;
    height: 80px;
    border: none;
    outline: none;
    transition: all .5s ease-in-out; 
    z-index: 1000;
  }

  .menu-btn__hamburger{
    width: 30px;
    height: 3px;
    background: #164A41;
    border-radius: 5px;
    transition: all .5s ease-in-out;  
    z-index: 1000;
    position: fixed;
    cursor: pointer;
    right: 1%;
    top: 5%;
    transform: translate(-5%, -50%);
    }

    .menu-btn__hamburger:before, .menu-btn__hamburger:after{
      content: '';
      position: absolute;
      width: 30px;
      height: 3px;
      background: #164A41;
      border-radius: 5px;
      transition: all .5s ease-in-out; 
    }

    .menu-btn__hamburger::before{
      transform: translateY(-8px);
    }
    .menu-btn__hamburger::after{
      transform: translateY(8px);
    }

    .menu-btn.open .menu-btn__hamburger{
      transform: translateX(-50px);
      background: transparent;
      border: transparent;
      }

    .menu-btn.open .menu-btn__hamburger::before{
      transform: rotate(45deg) translate(35px, -35px);
      }
    .menu-btn.open .menu-btn__hamburger::after{
      transform: rotate(-45deg) translate(35px, 35px);
      }


    .nav-links {
      position: fixed;
      right: 0;
      top: 0;
      background:#9DC88D;
      font-weight: 700;
      height: 100vh;
      width: 35%;
      flex-direction: column;
      /* create a mask to hide & for better support make sure to ass webkit */
      clip-path: circle(0px at 90% -10%);
      -webkit-clip-path: circle(0px at 90% -10%);
      transition: all 1s ease-out;
    }
    .nav-links.open{
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
      height: 100vh;
      width: 35%;
    }


    .nav-links li{
      opacity: 0;
    }
    
    .nav-links li:nth-child(1){
      transition: all 0.5s ease 0.1s;
    }
    .nav-links li:nth-child(2){
      transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(3){
      transition: all 0.5s ease 0.3s;
    }
    .nav-links li:nth-child(4){
      transition: all 0.5s ease 0.4s;
    }
  
    li.fade{
      opacity: 1;
    }

/*!Responsive */
@media screen and (max-width:750px){

  nav{
    position: relative;
    z-index: 1;
  }
  .nav-links.open{
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
    height: 100vh;
    width: 100%;
  }

  .nav-links {
    position: fixed;
    right: 0;
    background: #5cdb95;
    height: 100vh;
    width: 100%;
  }
}


/* navdropdown menu on top */

/* Dropdown Button */
.navdropbtn {
    padding: 12px 20px;
    margin: 8px;
    font-size: 14px;
    background: transparent;
    border-bottom: 2px solid #F1B24A;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #515151;
    vertical-align: middle;
    text-align: center;
    width: 144px;
    outline: none;
    font-family: 'Oswald', serif;
  

}

/* The container <div> - needed to position the dropdown content */
.navdropdown {
  position: relative;
  display: inline-block;
  left: 25%;
  
 
}

/* Dropdown Content (Hidden by Default) */
.navdropdown-content {
  display: none;
  position: absolute;
  top: 70%;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  background-color: #ffffff;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.navdropdown-content a {
  color: #515151;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.navdropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.navdropdown:hover .navdropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.navdropdown:hover .navdropbtn {color:#ffffff; background-color: #F1B24A;}