*{margin: 0; padding: 0; box-sizing: border-box;}
/* END CSS RESET */

/* colors : dark blue: #33697B - dark pink: #FC8585 - soft pink: #FC9885 */


/* Landing page */
#logo{
    height: 30%;
    width: 30%;
}
.landingpage {
    background: url("../images/joshua-earle-wFWQmOyfkkM-unsplash.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
/* Discover your next hike in Scotland */

.titlecontainer{
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto; 
   
}


h1{
    color: white;
    font-family: 'Oswald', serif;    
    font-weight: 800;
    font-size: 55px;
    margin: 0 auto;
    text-align: center;
}


h2{
    color: white;
    font-weight: 700;
    font-size: 15px;
    line-height: 55px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


/* Landpage Find a walk - flip button*/



.signinbtn{
    background-color: transparent;
    border: 3px solid#ffffff;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    height: 34px;
    font-size: 13px;
    font-weight: 700;
    width: 144px;
    top: 70%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;

}

.signinbtn:hover{
    background-color: #ffffff;
    border: transparent;
    color:#F1B24A;
    outline: none;
}

.signupbtn{
    background-color: #F1B24A;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    height: 34px;
    font-size: 13px;
    font-weight: 700;
    width: 144px;
    top: 70%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;

}

/* LOGIN PAGE  2 columns */


#error{
    display: none;
}

/* Split the screen in half */
.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

.left{

    height: 100vh;
    background: url(../images/rob-walsh-ZRUQ08NDYeo-unsplash-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#signup{

    height: 100vh;
    background: url(../images/gary-ellis-zxyOtcGf790-unsplash-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right -10px bottom 0px;
   
}

.login-container{
    float: right;
    width: 50%;
    padding: 144px;
position: relative; 
font-family: 'Roboto', sans-serif;
}

.login-form{
    background-color:#ffffff;
    padding: 5vh;
    position: absolute;
    left: 10%; 
    font-family: 'Roboto', sans-serif;
    
    }


/* Full-width inputs */
input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

  }

.login-title{
    color: #164A41;
    font-size: 34px;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}

.form-group{
background-color: none;
border: none;
display: block;
height: auto;
font-size: 16px;
line-height: 1.5;
margin: 0 auto;
font-family: 'Roboto', sans-serif;
overflow: hidden;

}

.form-group .item{
align-items: center; /* align center + display + position*/
background-color: rgb(236, 234, 234);  
display: block;
margin: 0 auto;
position: relative;
}

legend{
font-size: 34px;
font-weight: bold;
text-align: center; 

}

label{
align-items: center;
color: #515151;
display: block;
font-size: 13px;
font-weight: 700;
padding-bottom: 5px;
padding-top: 21px;
position: relative;
width: 377px;
}

a.forgot-pwd{
    color: #4D774E;
    position: relative;
    margin: 0;
    font-size: 11px;
    font-weight: bold;
}


*:focus {
outline: none;
}


/* password & icon */
.toggle{
display:none;
}

/* show/hide password icon */
span[toggle="password-field"]{
position: fixed;
left: 83%;
top: 58%;
z-index: 10;
}
span[toggle="signuptoggle"]{
position: fixed;
left: 90%;
top: 59%;
z-index: 10;
}

.signuptoggle{
position: fixed;
left: 100%;
top: 63%;
z-index: 10
}

/* buttons */


.btn.btn-info{
    background: #9DC88D;
    border: 2px solid #9DC88D;
    color: #ffffff;
    padding: 10px 42px;
}


.btn.btn-info:hover, .btn.btn-info:focus{
    background-color: #164A41;
    
    color: #ffffff;
    border: 2px solid #164A41;
   
}

/* Responsive forms */

@media only screen and (max-width:768px) and (min-width:200px){
    
    #login.login-container{
        background-color: #ffffff; 
        position: relative;
        margin: 13px;
    }
    
    .login-form{
        height: 100vh;
        width: 60vh;
        display: flex;
        flex-direction: column;
       
        }

        .btn.btn-warning, .btn.btn-info{
            margin: 13px;
        }
}

