/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET */

/* colors : dark blue: #33697B - dark pink: #FC8585 - soft pink: #FC9885 */

/* Landing page */
#logo{
    height: 30%;
    width: 30%;
    position: absolute;
    left: 10%;
}

.landingpage {
    background: url("../images/joshua-earle-wFWQmOyfkkM-unsplash.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Discover your next hike in Scotland */

.titlecontainer{
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 45%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);   
        text-align: center;
}

h1{
    color: white;
    font-family: 'Oswald', serif;    
    font-weight: 800;
    font-size: 55px;
  
    margin: 0 auto;
    text-align: center;
}

h2{
    color: white;
    font-weight: 700;
    font-size: 15px;
    line-height: 55px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Landpage Find a walk - flip button*/



.findbtn{
    background-color: transparent;
    border: 3px solid #F1B24A;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    height: 34px;
    font-size: 13px;
    font-weight: 700;
    left: 50%;
    margin-right: -50%;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);  
    width: 144px;
}

.findbtn:hover{
  
    background-color: #F1B24A;
    border: transparent;
    outline: none;
}

/* Sign in */
.signin {
    background-color: transparent;
    border: transparent;
    color:  #33697B ;
    cursor: pointer;
    float: right;
    font-weight: 600;
    outline: none;
    padding-right: 5%;
    position: relative;
}

.signin:hover{
    color: white;
    background-color: transparent;
    border: transparent;
    outline: none;
}
