*{margin: 0; padding: 0; box-sizing: border-box;}
/* END CSS RESET */

/* colors : dark blue: #33697B - dark pink: #FC8585 - soft pink: #FC9885 */


/* Landing page */
#logo{
    height: 30%;
    width: 30%;
}
.landingpage {
    background: url("../images/joshua-earle-wFWQmOyfkkM-unsplash.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
/* Discover your next hike in Scotland */

.titlecontainer{
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto; 
   
}


h1{
    color: white;
    font-family: 'Oswald', serif;    
    font-weight: 800;
    font-size: 55px;
    margin: 0 auto;
    text-align: center;
}


h2{
    color: white;
    font-weight: 700;
    font-size: 15px;
    line-height: 55px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


/* Landpage Find a walk - flip button*/



.signinbtn{
    background-color: transparent;
    border: 3px solid#ffffff;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    height: 34px;
    font-size: 13px;
    font-weight: 700;
    width: 144px;
    top: 70%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;

}

.signinbtn:hover{
    background-color: #ffffff;
    border: transparent;
    color:#F1B24A;
    outline: none;
}

/* for special button */

  
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    margin-top: 21px;
    font-size: inherit;
    font-family: inherit;
  }
  button.learn-more {
    width: 12rem;
    height: auto;
  }
  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #F1B24A;
    border-radius: 1.625rem;
  }
  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #fff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  button:hover .circle {
    width: 100%;
  }
  button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
  }
  button:hover .button-text {
    color: #fff;
  }
  

.signupbtn{
    background-color: #F1B24A;
    border-radius: 20px;
    border: 3px solid  #F1B24A;
    color: white;
    cursor: pointer;
    height: 34px;
    font-size: 13px;
    font-weight: 700;
    width: 144px;
    top: 70%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;

}

/* LOGIN PAGE  2 columns */


#error{
    display: none;
}

/* Split the screen in half */
.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

.left{

    height: 100vh;
    background: url(../images/rob-walsh-ZRUQ08NDYeo-unsplash-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#signupage{

    height: 100vh;
    background: url(../images/gary-ellis-zxyOtcGf790-unsplash-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right -10px bottom 0px;
   
}

/* Login & Register forms */

.login-container{
    float: right;
    width: 50%;
    padding: 144px;
    position: relative; 
    font-family: 'Roboto', sans-serif;
}

.login-form{
    background-color:#ffffff;
    padding: 5vh;
    position: absolute;
    left: 10%; 
    top: 15%;
    font-family: 'Roboto', sans-serif;
    
    }


.login-title{
    color: #164A41;
    font-size: 34px;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}



legend{
font-size: 34px;
font-weight: bold;
text-align: center; 

}

label{
align-items: center;
color: #515151;
display: block;
font-size: 13px;
font-weight: 700;
padding-bottom: 5px;
padding-top: 21px;
position: relative;
width: 377px;
}

a.forgot-pwd{
    color: #4D774E;
    position: relative;
    margin: 0;
    font-size: 11px;
    font-weight: bold;
}


*:focus {
outline: none;
}

#email-availability-status{
    color: red;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
  }


/* password & icon */
.toggle{
display:none;
}

/* show/hide password icon */


  
.input-icons { 
    width: 100%; 
        
} 

span[toggle="password-field"]{
position: relative; 
float: right;
margin-right: 6px;
margin-top: -37px;
z-index: 10;
}

span[toggle="signuptoggle"]{
    position: relative; 
    float: right;
    margin-right: 6px;
    margin-top: -37px;
    z-index: 10;
}

/* buttons */


.btn.btn-info{
    background: #9DC88D;
    border: 2px solid #9DC88D;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 42px;
    width: 100%;
}


.btn.btn-info:hover, .btn.btn-info:focus{
    background-color: #164A41;
    
    color: #ffffff;
    border: 2px solid #164A41;
   
}

/* Responsive forms */

@media only screen and (max-width:768px) and (min-width:300px){
    
    img.responsive{
        height: 89px;
        width: 89px;
    }

   
    
    .login-form{
        height: 100vh;
        width: 60vh;
        display: flex;
        flex-direction: column;
       
        }

        .btn.btn-warning, .btn.btn-info{
            margin: 13px;
        }
}

