*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


/* section scroll */
#fullpage{
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#fullpage section{
  height: 100vh;
  overflow: hidden;
}   

#fullpage section:nth-child(1){
  background-color: #cccccc;
  
}

#fullpage section:nth-child(2){
  background: none;

}

/* MAP Os API */

#map {
  padding: 0;
  margin: 0;
  height: 500px;
  width: 500px;
}

#logo{
  z-index: 400;
} 


/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;

  position: absolute;
  left: 5%;
  right: 5%;

}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.gallery__item--title{
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 2;

    font-size: 34px;
    font-family: 'Oswald', sans-serif;
    color: #164A41;
  
}

.gallery__item--intro{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 8;
  
    font-family: 'Roboto', sans-serif;    
    color: #515151;
    font-weight: 500;
    font-size: 11px;
    background: #ffffff;
    padding: 10px;
    position: relative;
    opacity: 0.7;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}
.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 9;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 9;
}

/* comment section */

.comment-container{

  display: flex;
  flex-direction: column;
  position: absolute;
  left: 3%;
  width: 435px;
  height: 400px;
  overflow: scroll;
  z-index: 400;
  background-color: tomato;

}
textarea{
  background-color: #ffffff;
  width: 435px;
  height: auto;
  resize: none;
  font-family: 'Roboto', sans-serif;
    padding: 10px;
    border: 1px solid #cccccc;

    margin-top: 10px;
}

textarea:focus{
  border: none;
}

.write_comment_btn{
  background: transparent;
  border: none;
  border-radius: 20px;
  color: #164A41;
  cursor: pointer;
  height: 34px;
  font-size: 13px;
  font-weight: 600;
  left: 85%;
  top: 10%;
  margin-right: -50%;
  position: absolute;  
  width: 55px;
  padding: 5px;
  
}
.comment-box{
  display: block;
    width: 400px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-top: 0 auto;
    color: #515151;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    
}

/* Edit & Delete comment btn */
.btn{
  display: block;
  border: none;
  float: right;
  background: none;
  border: none;
  padding-left: 13px;
  cursor: pointer;
  top: 2%;
  opacity: 0.5;
}

.btn:hover{
  opacity:1;
}



