*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }


#fullpage{
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#fullpage section{
    height: 100vh;
}   

#fullpage section:nth-child(1){
    background-image: url('../images/damien-ramage-u6HkTQTHIwM-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}




.container{    
    overflow: hidden;
    margin: 0 auto;
    position: relative;  
    top: 10%;
    width: 90%;
    height: 500px;
}

#container-top{
    padding-bottom: 60px;
    margin: 0 auto;
    height: 233px;

    position: relative;
    display: flex;
    left: 10%;
}


.headtitle{

    height: auto;
    color: #ffffff;
    padding-left: 25px;
    padding-top: 130px;
    width: 500px;
}

h1{
    font-family: 'Oswald',serif;
    color: #ffffff;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 0.0001em;
    line-height: 0.95em;
}

p {
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    font-size: 15px;
    color: white;
    font-weight:500;
    
}

/* button */
.findbtn{
    background-color: #F1B24A;
    border: none;
    border-radius: 35px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    top: 110%;
    padding: 12px 42px;
}

.findbtn:hover{
    background-color:#164A41;;
    border: transparent;
    outline: none;
}

/* review boxes on the right */
.ratingBox{
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    width: 300px;
}

.stars-ratingBox{
    background-color:#164A41;
    border-radius: 7px;
    font-weight: 700;
    height: 60px;
    margin: 15px;
    padding-left: 5%;
    position: relative;
    top: 40%;
    width: 377px;

}

.star-text{
    color: #ffffff;
    position: relative;
    display: inline-flex;
    padding-left: 25px;
    bottom: 5%;
    font-size: 13px;
    vertical-align: bottom;
}

.space2{left: 20px;}
.space3{left: 40px;}




h4{
    color: #ffffff;
    font-size: 10pt;
    margin-left: 6em;
}

h5{
    color: #9DC88D;
    font-size: 8pt;
    font-weight: 600;
    line-height: 2em;
    margin-left: 7.7em;

}

.comment-text{
    clear: left;
    color: #ffffff;
    font-size: 10pt;
    font-weight: 500;
    padding-top: 1.5em;
}

/* alignement horizontal comment box  */

.level2{
    top: 20px;    
}

.level3{
    top: 40px;
        
}

.profile-picture{
    border-radius: 50%;
    position: relative;
    float: left;
    width: 20%;
   
}

/*! responsive */
@media screen and (max-width: 375px) {
    .container{
        width: 375px;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    #container-top, #container-bottom {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        width: 375px;
        height: auto;
        margin-left: 0px;
        padding: 0px;
     
    }
    
    .comment-mainbox, .comment-wrap, .headtitle, .ratingBox{
        flex-direction: column;
        position: relative;
        margin: 0px;
        padding:0px;
        left: 0px;
        width: 300px;
      
        
    }

    .stars-ratingBox{
        flex-direction: column;
        position: relative;
        width: 50px;
        left: 0px;
    }

    .space2, .space3{
        left: 0px;
    }
    
   
  }
/* !end of responsive */
