*{
    margin: 0;
    padding: 0;
 
  }

  * {
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: border-box;
  }

#fullpage section{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}   

#fullpage section:nth-child(1){
    background-image: url('../images/damien-ramage-u6HkTQTHIwM-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}


.container{    
    overflow: hidden;
    margin: 0 auto;
    position: relative;  
    top: 10%;
    width: 90%;
    height: 500px;
}

.welcome-container{
    display: flex;
    height: auto;
    width: 100%;
    left: 10%;
    margin: 0 auto;
    padding-bottom: 60px;
    position: relative;
   
}


.welcome-container__head{

    height: auto;
    color: #ffffff;
    padding-left: 25px;
    padding-top: 140px;
    width: 500px;
}

h1{
    font-family: 'Oswald',serif;
    color: #ffffff;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 0.0001em;
    line-height: 0.95em;
}

p {
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    font-size: 15px;
    color: white;
    font-weight:500;
    
}

/* button */

/* for special button */

  
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    margin-top: 21px;
    font-size: inherit;
    font-family: inherit;
  }
  button.learn-more {
    width: 12rem;
    height: auto;
  }
  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #F1B24A;
    border-radius: 1.625rem;
  }
  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #fff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  button:hover .circle {
    width: 100%;
  }
  button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
  }
  button:hover .button-text {
    color: #fff;
  }
  

  
/* review boxes on the right */
.ratingBox{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 377px;
}

.ratingBox__stars{
    background-color:#164A41;
    border-radius: 7px;
    font-weight: 700;
    height: 55px;
    margin: 15px;
    padding-left: 5%;
    position: relative;
    top: 25%;
    width: 377px;

}

.ratingBox__stars--space2{left: 20px;}
.ratingBox__stars--space3{left: 40px;}

.ratingBox__text{
    color: #ffffff;
    position: relative;
    display: inline-flex;
    padding-left: 25px;
    bottom: 5%;
    font-size: 13px;
    font-weight: 700;
    vertical-align: bottom;
}


h4{
    color: #ffffff;
    font-size: 10pt;
    margin-left: 6em;
}

h5{
    color: #9DC88D;
    font-size: 8pt;
    font-weight: 600;
    line-height: 2em;
    margin-left: 7.7em;

}


/*! responsive */
@media screen and (max-width: 375px) {
    .container{
        width: 375px;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    #container-top {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        width: 375px;
        height: auto;
        margin-left: 0px;
        padding: 0px;   
    }

    .stars-ratingBox{
        flex-direction: column;
        position: relative;
        width: 50px;
        left: 0px;
       
    }

    .space2, .space3{
        left: 0px;
    }

  }
/* !end of responsive */
